version: 2.1
orbs:
  testing-orb: integromat/testing-orb@1.3.0
  sonarqube: integromat/sonarqube-orb@2.1.1
jobs:
  test-and-build:
    executor:
      name: testing-orb/default
      tag: '20.19.0'
    steps:
      - checkout
      - run:
          command: |
            npm ci
          name: Install deps
      - run:
          command: npm run format:check
          name: Check formatting
      - run:
          command: npm run lint
          name: Check lint
      - testing-orb/run_tests:
          test_type: unit
          command: npm run test:unit
      - testing-orb/upload_and_comment_coverage:
          lcov_file_path: ./coverage/unit/lcov.info
          test_type: unit
      - store_artifacts:
          path: coverage/unit
      - store_test_results:
          path: coverage/unit
      - persist_to_workspace:
          root: .
          paths:
            - coverage/unit
  sonarqube:
    docker:
      - image: 'cimg/base:2025.11'
    resource_class: small
    steps:
      - checkout:
          method: full
      - attach_workspace:
          at: .
      - sonarqube/scan
workflows:
  build:
    jobs:
      - test-and-build:
          context:
            - org-default
            - testing
      - sonarqube:
          requires:
            - test-and-build
          context: sonarqube-prod
